*{
    margin: 0;
    padding: 0;
    font-family: cursive;
  }


  body{
    background: url("payslip.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  h1{
    text-align:center;
    padding-bottom: 280px;
    
    
  }

  .output{
      text-align: center;
      
  }

  .heading{
      font-weight: bolder;
      font-size: x-large;
      text-size-adjust: 100px;
      color: purple;
  }
  
  .rectangle{
      font-size: small;
  }