*{
    margin: 0;
    padding: 0;
    font-family: cursive;
  }
  
  .wrapper{
    width: 1170px;
    margin:auto;
  }
  
  .navigation{
    padding-left: 800px;
    list-style:none;
    margin-top: 20px;
  
  }
  
  .navigation li{
    display: inline-block;
  }
  
  .navigation li a{
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
      font-family: poppins;
      font-size: 16px;
  }
  
  .navigation li a:hover{
    background: #fff;
    color: #333;
  }

  .arrange{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;

  }